* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

#root header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: yellow;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    padding: 1rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

footer nav {
    margin-left: 20px;
}
